<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">Neuer Charakter</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let character of characters">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ character.name }}</h4>
        <p class="list-group-item-text">{{ character.description }}</p>
      </div>
      <span class="pull-right">
        <img [src]="character.imagePath" alt="{{ character.name }}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
    <app-characterdetail></app-characterdetail>
  </div>
</div>
